Nueva cuenta para {{#with new_user }}{{this.full_name}}{{/with}}
=====
<p>Hola <strong>{{new_user.name}}</strong>,</p>

<p><strong>{{#with admin_user}}{{this.full_name}}{{/with}}</strong> acaba de registrarle una cuenta como empleado de <strong>{{company.name}}</strong>.</p>

<p>Por favor p칩ngase en contacto con <strong>{{admin_user.name}}</strong> para que le proporcione sus datos de acceso para {{> email/link href=(get_application_domain) text="Gesti칩n de Ausencias - AdType" }}</p>

<p>Alternativamente puede seguir el siguiente link para resetear la contrase침a:

{{# with new_user ~}}
{{> email/link href=(concatenate (get_application_domain) '/reset-password/?t=' (this.get_reset_password_token)) text='Configurar nueva contrase침a'}}
{{/ with }}

</p>

<p>Gracias</p>
